body{
    font-family: Arial;
    background-color:plum;
    margin:0;
    padding:0;
}
header{
    background-color: palevioletred;
    color:white;
    text align:center;
    padding:20px;
}
nav ul{
    list-style: none;
    padding:0;
}
nav ul li {
    display:inline;
    margin:0 10px;
}
nav ul li a {
    color:white;
    text-decoration:none;
    font-size: bold;
}
section{
    padding:20px;
    margin:20px;
    background-color: white;
}